
mods/.DS_Store
mods/lib/.DS_Store
mods/usr/.DS_Store
mods/usr/share/.DS_Store
mods/usr/share/X11/.DS_Store
mods/usr/share/X11/xkb/.DS_Store
mods/usr/share/X11/xkb/symbols/.DS_Store
mods/usr/share/alsa/ucm/.DS_Store
mods/usr/share/alsa/.DS_Store
mods/etc/.DS_Store
.DS_Store
